@model BloodBankManegmentSystem.Models.User
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 24px;
            box-sizing: border-box;
            padding: 0;
            font-family: Montserrat;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        h1 {
            color: #4B7FB7;
            font-style: normal;
            font-weight: 600;
            font-size: 44px;
            line-height: 54px;
        }

        h2 {
            color: #4B7FB7;
            font-style: normal;
            font-weight: 400;
        }

        .form {
            margin-top: -20px;
            height: 25rem;
            width: 30rem;
            background-color: rgb(255, 255, 255);
            border-radius: 2px;
            align-self: center;
            font-size: 14px;
            padding: 20px 0px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        input, select {
            font-size: 18px;
            padding: 20px 6px;
            width: 100%;
            color: #333;
            background-color: transparent;
            outline: none;
            border: 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.288);
            -webkit-transition: all .2s;
            transition: all .2s;
            border-bottom: 1px solid;
        }

        select {
            width: 102%;
            opacity: 0.8;
        }

            select:focus {
                color: #4B7FB7;
                border-bottom: 2px solid #4B7FB7;
                font-size: 18px;
            }

        input:focus {
            color: #4B7FB7;
            border-bottom: 2px solid #4B7FB7;
            font-size: 18px;
        }

            input:focus::-webkit-input-placeholder {
                visibility: hidden;
            }

            input:focus:-ms-input-placeholder {
                visibility: hidden;
            }

            input:focus::-ms-input-placeholder {
                visibility: hidden;
            }

            input:focus::placeholder {
                visibility: hidden;
            }

        .bttn {
            padding: 10px;
            margin-top: 40px;
            width: 70%;
            border: 0px;
            outline: none;
            color: rgb(255, 255, 255);
            background: linear-gradient(93.38deg, #9598FF 0%, #7479FF 100%);
            box-shadow: 5px 15px 25px rgba(143, 147, 255, 0.45);
            border-radius: 2px;
            -ms-grid-column-align: center;
            justify-self: center;
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
            -webkit-transition: all .2s;
            cursor: pointer;
            transition: all .2s;
            font-size: 20px;
        }

            .bttn:hover {
                background-color: #cc2921;
                -webkit-transform: scale(1.1) translateY(2px);
                transform: scale(1.1) translateY(2px);
            }

        form span {
            padding-top: 20px;
            text-align: center;
        }
    </style>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Sign up</title>
</head>
<body>
    <h1 class="main-heading">Blood Bank Management System</h1>
    <h2>Login</h2>
    <div class="sign-up">
        @using (Html.BeginForm("Auth", "Account",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "form" }))

        {
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })

            <input type="password" placeholder="Password">

            <input type="submit" class="bttn" value="Login" />

            <span>Not registered yet?
            @Html.ActionLink("Sign up", "SignUp", "Home", new { area = "" }, new { @class = "btn btn-login" })
            </span>
                }
    </div>
</body>
</html>
