@model IEnumerable<BloodBankManegmentSystem.Models.Donors>
@{
    ViewBag.Title = "SampleList";
    Layout = "~/Views/Shared/_guestLayout.cshtml";
}

<h2>Sample List</h2>
<table id="donors" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Blood Group</th>
            <th>Donated By</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#donors").DataTable({
                ajax: {
                    url: "/api/donors",
                    dataSrc: ""
                },
                columns: [
                {
                        data: "BloodTypeId",
                        render: function (data, type, donor) {
                            switch (data) {
                                case 1:
                                    return "A+"
                                case 2:
                                    return "A-"
                                case 3:
                                    return "B+"
                                case 4:
                                    return "B-"
                                case 5:
                                    return "O+"
                                case 6:
                                    return "O-"
                                case 7:
                                    return "AB+"
                                case 8:
                                    return "AB-"
                                default:
                                    return "Invalid"
                            }
                        }
                    },
                    {
                        data: "name",
                    }
                ]
            });
        });
    </script>
}